input {
    width: 20px;
    text-align: center;
    border: 1px solid black;
}

h1 {
    text-align: center;
}

.btn button {
    background-color: cornflowerblue;
    color: white;
    border: 1px solid cornflowerblue;
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
}

.bt button {
    background-color: cornflowerblue;
    color: white;
    border: 1px solid cornflowerblue;
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
    margin-right: 350px;
}