h1 {
    font-size: 30px;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

button {
    background-color: cornflowerblue;
    color: white;
    border: 1px solid cornflowerblue;
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
}