<div *ngFor="let variant of productVariants;let i=index" style="display: inline-block; width: 23%; margin: 1%;">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div style="text-align: center;">
        <div>
          <a href="/user/product-detail?variant_id={{variant._id}}&product_id={{variant.product_id}}">
            <img src="http://localhost:8088/uploads/{{variant.product_image[0]}}" alt="product image" height="250px"
              width="250px" />
          </a>
        </div>
        <p><b>Name</b>&nbsp;&nbsp;<span>{{variant.name}}</span></p>
        <p><b>Price</b>&nbsp;&nbsp;<span>{{variant.price}}</span></p>
        <p> <b>Quantity</b>&nbsp;&nbsp;<span>{{variant.quantity}}</span></p>
        <p><b>Colour</b>&nbsp;&nbsp; <img src="http://localhost:8088/uploads/{{variant.colour_image}}"
            alt="product image" height="20px" width="50px" /></p>
      </div>
    </mat-card-content>
  </mat-card>
</div>