<ng-container *ngIf="products.length > 0;">
  <div *ngFor="let product of products;let i=index" style="display: inline-block; width: 23%; margin: 1%;">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div style="text-align: center;">
          <div>
              <img src="http://localhost:8088/uploads/product_images/{{product.product_image}}" alt="product image" height="250px"
                width="250px" (click)="onSelectedProduct(product)" />
          </div>
          <p>{{product.name}}</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>