<div class="navbar">
    <nav>
        <a routerLink="/user/displayCategory"><img src="../../assets/images/logo1.png" alt="logo" height="50px"
                width="200px" /></a>
        <a *ngIf="currentUserRole == 0" routerLink="/admin/admin-dashboard" routerLinkActive="active" mat-button>Admin
            Dashboard</a>
        <a routerLink="/user/displayCategory" routerLinkActive="active" mat-button>Products</a>
        <span class="spacer"></span>
        <span *ngIf="currentUserRole == null;else logout">
            <a routerLink="/auth/sign-up" routerLinkActive="active" mat-button>Signup</a>
            <a routerLink="/auth/login" routerLinkActive="active" mat-button>Login</a>
        </span>
        <ng-template #logout>
            <a mat-button (click)="logOut()">Logout</a>
        </ng-template>
        <a routerLink="/user/addToCart">
            <mat-icon>shopping_cart</mat-icon>
        </a>
        <a (click)="openDialog()">
            <mat-icon>account_circle</mat-icon>
        </a>
    </nav>
</div>