<div class="nav-bar">
    <mat-toolbar color="primary">
        <a routerLink="/user/displayCategory"><img src="../../assets/images/logo1.png" alt="logo" height="50px"
                width="200px" /></a>
        <a *ngIf="currentUserRole == 0" routerLink="/admin/admin-dashboard" mat-button>Admin Dashboard</a>
        <a routerLink="/user/displayCategory" mat-button>Products</a>

        <div class="spacer"></div>
        <div *ngIf="currentUserRole == null">
            <a routerLink="/auth/sign-up" mat-button>Signup</a>
            <a routerLink="/auth/login" mat-button>Login</a>
        </div>
        <a *ngIf="currentUserRole != null" routerLink="/auth/login" mat-button (click)="logOut()">Logout</a>
        <a routerLink="/user/addToCart">
            <mat-icon>shopping_cart</mat-icon>
        </a>
        <a routerLink="/user/wishList" mat-button >wishlist</a>

    </mat-toolbar>
</div>
<app-root></app-root>