.container {
    margin-left: 30%;
    margin-top: 16%;
}

button {
    background-color: cornflowerblue;
    color: white;
    border: 1px solid cornflowerblue;
    border-radius: 5px;
    height: 30px;
}