<!-- <div class="banner_image">
    <img src="../../../assets/images/banner_image.jpg" alt="banner image" />
</div> -->
<div class="category-container">
    <ng-container *ngIf="categories.length > 0; else elseBlock">
        <div *ngFor="let category of categories" class="category-item">
            <img src="http://localhost:8088/uploads/category_images/{{category.category_image}}" alt="category image"
                class="category-image" (click)="onSelectedCategory(category)" />
            <p class="category-name">{{category.name}}</p>
        </div>
    </ng-container>
    <ng-template #elseBlock>
        <h1 class="not-found">Category not found !!!</h1>
    </ng-template>
</div>