<div class="container">
    <div class="banner_image">
        <img src="../../../assets/images/banner_image.jpg" alt="banner_image" />
    </div>
    <ng-container *ngIf="categories.length > 0; else elseBlock">
        <h1>Categories</h1>
        <div class="category_container">
            <div class="catgory_list" *ngFor="let category of categories">
                <div class="category_image">
                    <img src="http://localhost:8088/uploads/category_images/{{category.category_image}}"
                        alt="category image" class="category-image" (click)="onSelectedCategory(category)" />
                </div>
                <div class="category_name">
                    <p>{{category.name}}</p>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #elseBlock>
        <div class="elseblock">
            <h1>Oops!!!</h1>
            <h2>Category not found!!!</h2>
        </div>
    </ng-template>
</div>