.buyBtn{
    color: white;
    background-color: cornflowerblue;
    border: 1px solid cornflowerblue;
    border-radius: 5px;
    height: 35px;
}

.btn {
    margin: auto;
    width: 20%;
    margin-top: 10px;
 }

 input{
    height: 30px;
    width: 180px;
 }