h1{
    text-align: center;
}
.example-card{
    width:auto;
    text-align: center;
    margin: auto;
}
input{
    width: 40px;
    text-align: center;
}
input[type=text]{
    width: 80px;
    text-align: center;
}
.buy-now{
    background-color: cornflowerblue;
    color: white;
}