.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

// .header {
//   padding: 15px;
//   flex-shrink: 0;
//   flex-grow: 0;
//   background: cornflowerblue;
// }

.content {
  flex-shrink: 1;
  flex-grow: 1;
  position: relative;
  margin-bottom: 20px;
}