.container {
    margin-top: 50px;
    width: 100%;
    background-color: brown;
    padding: 1px;
}

.footer_content {
   margin-top: 10px;
    height: 60px;
    text-align: center;
    color: white;
}