.colourBtn {
    display: flex;
}

img{
    cursor: pointer;
}

mat-sidenav {
    width: 20%;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.btn button {
    background-color: cornflowerblue;
    color: white;
    border: 1px solid cornflowerblue;
    border-radius: 5px;
    height: 40px;
    cursor: pointer;
}