<!-- <ng-container *ngIf="allVariant.length > 0;else thisOne">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title></mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <table>
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr *ngIf="allVariant[variantIndex].quantity > 0;else this1">
                        <td class="btn">
                            <button (click)="addToCart(allVariant[variantIndex])">Add to cart</button>&nbsp;
                            <button (click)="addWishList(allVariant[variantIndex])">Add to wishlist</button>
                        </td>
                        <td class="btn">
                            <button (click)="buyNow(allVariant[variantIndex])">Buy now</button>
                        </td>
                    </tr>
                    <ng-template #this1>
                        <td class="btn">
                            <button (click)="addToCart(allVariant[variantIndex])">Add to cart</button>&nbsp;
                            <button (click)="addWishList(allVariant[variantIndex])">Add to wishlist</button>
                        </td>
                        <td class="btn1">
                            <button disabled (click)="buyNow(allVariant[variantIndex])">Buy now</button>
                        </td>
                    </ng-template>
                </tbody>
            </table>
        </mat-card-content>
    </mat-card>
</ng-container>
<ng-template #thisOne>
    <h1>Variants not found</h1>
</ng-template> -->
<div class="container">
    <div class="product_container">
        <ng-container *ngIf="allVariant.length > 0;else elseBlock">
            <div class="side_images">
                <div class="side_image" *ngFor="let val of allVariant[variantIndex].variant_image;let i=index">
                    <img src="http://localhost:8088/uploads/product_variant_images/{{val}}"
                        (mouseenter)="changeImage(i)" alt="product image" />
                </div>
            </div>
            <div class="main_content">
                <div class="main_image">
                    <img src="http://localhost:8088/uploads/product_variant_images/{{allVariant[variantIndex].variant_image[imageIndex]}}"
                        (click)="openDialog(variantIndex)" alt="product image" />
                </div>
                <div class="content">
                    <div class="variant_text_content">
                        <h6>{{allVariant[variantIndex].name}}</h6>
                        <p class="price">{{allVariant[variantIndex].price | currency: 'INR'}}</p>
                        <label>About this item: </label>
                        <ul>
                            <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia optio sapiente in impedit
                                tempore voluptatibus nemo animi, maiores sit delectus!</li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur asperiores omnis culpa
                                adipisci autem. Quasi odit, similique quidem incidunt fuga deserunt corrupti consectetur
                                tenetur quae quod ducimus, cum sed accusamus cumque labore rerum exercitationem alias
                                molestiae commodi eius culpa quos accusantium pariatur aspernatur. Optio,
                                necessitatibus. Explicabo nostrum officia accusamus labore?</li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae a, aperiam rem natus
                                sint corporis omnis vitae ipsam corrupti excepturi quidem repellendus autem tempore
                                distinctio reiciendis adipisci ea consequatur voluptate, repudiandae, iure soluta
                                blanditiis nemo! Vel praesentium quo aliquam nihil!
                            </li>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, doloremque! Modi, natus,
                                animi cupiditate odio voluptatibus commodi ea atque delectus, nulla tenetur possimus.
                                Veniam ad omnis natus itaque at dolorum.</li>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur asperiores omnis culpa
                                adipisci autem. Quasi odit, similique quidem incidunt fuga deserunt corrupti consectetur
                                tenetur quae quod ducimus, cum sed accusamus cumque labore rerum exercitationem alias
                                molestiae commodi eius culpa quos accusantium pariatur aspernatur. Optio,
                                necessitatibus. Explicabo nostrum officia accusamus labore?</li>
                        </ul>
                        <ng-container *ngIf="allVariant[variantIndex].quantity > 0; else available">
                            <p>{{allVariant[variantIndex].quantity}}</p>
                        </ng-container>
                        <ng-template #available>
                            <p>Out of Stock</p>
                        </ng-template>
                        <label>Colour: </label><span>{{allVariant[variantIndex].colour}}</span>
                        <ng-container *ngFor="let val of allVariant;let i=index">
                            <img src="http://localhost:8088/uploads/product_variant_images/{{val.colour_image}}"
                                alt="product image" (click)="onSelectColour(i)" />
                        </ng-container>
                    </div>
                    <div class="variant_action_button">
                        <button mat-raised-button color="primary" class="addToCart"
                            (click)="addToCart(allVariant[variantIndex])">Add to
                            cart</button>
                        <button mat-raised-button color="primary" (click)="addWishList(allVariant[variantIndex])">Add to
                            wishlist</button>
                        <button mat-raised-button color="primary" (click)="buyNow(allVariant[variantIndex])">Buy
                            now</button>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-template #elseBlock>
            <div class="elseblock">
                <h1>Oops!!!</h1>
                <h2>Variants not found!!!</h2>
                <button (click)="goBack()" mat-raised-button>Go back</button>
            </div>
        </ng-template>
    </div>
</div>