<mat-toolbar>
    <span>
        <mat-icon (click)="sidenav.toggle()">dashboard</mat-icon>
    </span>
    <h1 class="spacer">Welcome To Admin Dashboard</h1>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side">
        <mat-nav-list>
            <div>
                <a mat-list-item routerLink="add-category">Add Category</a>
                <a mat-list-item routerLink="add-sub-category">Add Sub-Category</a>
                <a mat-list-item routerLink="add-product">Add Products</a>
                <a mat-list-item routerLink="add-variant">Add Variant</a>
                <a mat-list-item routerLink="add-attribute">Add Attribute</a>
                <a mat-list-item routerLink="listCategory">List Category</a>

            </div>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 88vh;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
