  .container {
    margin-top: 200px;
    text-align: center;
  }

  .error-title h1 {
    font-size: 85px;
    font-family: 'Times New Roman', Times, serif;
    color: red;
  }

  .error-title h2 {
    color: red;
    margin-top: 50px;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
  }

  .error-message {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
  }

  .back-button {
    margin-top: 20px;
    border-radius: 4px;
  }